.App {
  text-align: center;
}

/* NavBar */
.navbar{
  background-color: rgb(45, 45, 45);
}

.navbar-name{
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.nav-list{
  color: white;
  display: flex;
  gap:30px;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-decoration: underline;

}

.hero {
  width: 100%; /* Default width for the image */
  padding: 20px;
  border-radius: 40px;
  
 
}

@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .hero {
    width: 100%; /* Adjust the width for smaller screens */
  }
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .hero {
    width: 100%; /* Adjust the width for even smaller screens */
  }
}