.App {
  text-align: center;
}

/* NavBar */
.navbar{
  background-color: rgb(45, 45, 45);
}

.navbar-name{
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.nav-list{
  color: white;
  display: flex;
  gap:30px;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-decoration: underline;

}






/* hero image*/
.hero {
  width: 100%; /* Default width for the image */
 
  
  
 
}

@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .hero {
    width: 100%; /* Adjust the width for smaller screens */
  }
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .hero {
    width: 100%; /* Adjust the width for even smaller screens */
  }
}








/* Projects */
.displays {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 100%;
  text-align: center;
  background-color: rgb(155, 0, 233);
  
}


.project img {
  width: 100%;
  max-width: 800px;
  height: 480px;
  border-radius: 20px;
  border:  6px solid rgb(255, 255, 255);
  margin: 10px;
  
}

@media (min-width: 768px) {
  .project {
    width: 50%;
  }
}


.title{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

.description{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;

}








/* Languages/Tools */
.list {
  display: flex;
  list-style: none;
  justify-content: center;

}

.list li {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}